{%- style -%}
  .tow-col-section-{{ section.id }}{
    width: {{ section.settings.full-text-section-width }}px
  }
  .wax-grid-container-2-col-{{ section.id }}{
    column-gap: {{ section.settings.column-gap }}px;
    background-color: {{ section.settings.background_color_an }}}


  {% for block in section.blocks %}
    #wrapper-left-{{ section.id }}{
      width: {{ block.settings.left_image_width }}px;
      margin: auto;

    }
    #wrapper-right-{{ section.id }}{
      width: {{ block.settings.right_image_width }}px;
      margin: auto;

    }

  {% endfor %}
  .wrapper-image_an img {
    display: block;
    width: 100%;
    object-fit: cover;

  }
{%- endstyle -%}

<div class="tow-col-section-{{ section.id }} tow-col-section">
  <div class="wax-grid-container-2-col-{{ section.id }} wax-grid-container-2-col">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "left_img" %}
          <div class="wrapper-image_an" id="wrapper-left-{{ section.id }}">
            <img src=" {{ block.settings.left_image | img_url: 'grande' }} " alt="" height="" width="" loading="lazy">
          </div>

        {% when "right_img" %}
          <div class="wrapper-image_an" id="wrapper-right-{{ section.id }}">
            <img src=" {{ block.settings.right_image | img_url: 'grande' }} " alt="" height="" width="" loading="lazy">

          </div>



      {% endcase %}

    {% endfor %}

  </div>

</div>

{% schema %}
  {
    "name": "Grid Two Column Image",
    "settings": [
      {
        "type": "range",
        "id": "full-text-section-width",
        "min": 300,
        "max": 1400,
        "step": 50,
        "unit": "px",
        "label": "Section Width",
        "default": 600

      }, {
        "type": "range",
        "id": "column-gap",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Column Gap",
        "default": 50

      }, {
        "type": "color",
        "id": "background_color_an",
        "label": "Set Background color",
        "default": "#eee"
      }
    ],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "left_img",
        "name": "Left image section",
        "settings": [
          {
            "type": "image_picker",
            "id": "left_image",
            "label": "Choose left image"
          }, {
            "type": "range",
            "id": "left_image_width",
            "min": 50,
            "max": 800,
            "step": 25,
            "unit": "px",
            "label": "Image Width",
            "default": 475

          }
        ]
      }, {
        "type": "right_img",
        "name": "Right image section",
        "settings": [

          {
            "type": "image_picker",
            "id": "right_image",
            "label": "Choose Right image"
          }, {
            "type": "range",
            "id": "right_image_width",
            "min": 50,
            "max": 800,
            "step": 25,
            "unit": "px",
            "label": "Image Width",
            "default": 475
          }

        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name": "Grid Two Column image",

        "blocks": [
          {
            "type": "left_img"
          }, {
            "type": "right_img"
          }
        ]
      }

    ]

  }
{% endschema %}