{%- style -%}

  #section-{{ section.id }}{
    width: {{ section.settings.parent-image-section-width | append: "px" }};
    margin: 0 auto;
  }
  .image_container_wax img{
          width: 100%;
          object-fit: cover;
          display: block;
  }

  .image_container_wax_small img{
      width: 66%;
      display: block;
      padding: 21% 0;
      object-fit: cover;
      margin: auto auto
  }



  {% for block in section.blocks %}
    .block-container-wrapper-{{ block.id }} {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .display-block-caption-{{ block.id }} {
      display: none;
    }
    .block-container-wrapper-{{ block.id }}.space-2-col-{{ block.id }}{
         column-gap: 20px;}

    {% if block.settings.show_col_gap %}
          #section-{{ section.id }} #left-section-{{ block.id }}{
                  width: calc({{ block.settings.image-one-width | append: "px" }} - 10px)
        }
          #section-{{ section.id }} #right-section-{{ block.id }}{
                  width: calc( {{ section.settings.parent-image-section-width | append: "px" }} - {{ block.settings.image-one-width | append: "px" }} - 10px )
        }
    {% else %}
          #section-{{ section.id }} #left-section-{{ block.id }}{
            width: {{ block.settings.image-one-width | append: "px" }}
          }

          #section-{{ section.id }} #right-section-{{ block.id }}{
            width: calc( {{ section.settings.parent-image-section-width | append: "px" }} - {{ block.settings.image-one-width | append: "px" }} )
          }
            
         
    {% endif %}

    .full-left-section-{{ block.id }}, .full-right-section-{{ block.id }} {
      margin-top: 28.5px;
    }
    .wrapper-left-section-{{ block.id }} {
      background-color: {{ block.settings.background_color_image_one }}
    }
    
    .wrapper-right-section-{{ block.id }}{
       background-color: {{ block.settings.background_color_image_two }}
    }



  {% endfor %}
{%- endstyle -%}

<section id="section-{{ section.id }}" class="section ">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "images" %}
        <div class="block-container-wrapper-{{ block.id }} {% if block.settings.show_col_gap %}space-2-col-{{ block.id }} {% endif %}">
            <div class="{% if block.settings.show_left_caption %} full-left-section-{{ block.id }}{% endif %}">
              <div class="wrapper-left-section-{{ block.id }}">
                <div id="left-section-{{ block.id }}"  class="image_container_wax {% if block.settings.left_image_small %}image_container_wax_small{% endif %}">
                  <img class="img" src=" {{ block.settings.image_picker_1 | img_url: 'master' }} " alt="" height="" width="" loading="lazy">
                </div>
              </div>
                 <span class="{% if block.settings.show_left_caption == false %} display-block-caption-{{ block.id }}{% endif %}">{{ block.settings.caption-image-one }}</span>
            </div>
            <div class="{% if block.settings.show_right_caption %} full-right-section-{{ block.id }}{% endif %}">
              <div class="wrapper-right-section-{{ block.id }}">
                <div  id="right-section-{{ block.id }}" class="image_container_wax  {% if block.settings.right_image_small %}image_container_wax_small{% endif %}">
                  <img  class="img" src=" {{ block.settings.image_picker_2 | img_url: 'master' }}  " alt="" height="" width="" loading="lazy">
                </div>
                <span class="{% if block.settings.show_right_caption == false %} display-block-caption-{{ block.id }}{% endif %}"> {{ block.settings.caption-image-two }} </span>

              </div>

            </div>


      
        </div>

    {% endcase %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Two Column Image Style 2",
    "settings": [
      {
        "type": "range",
        "id": "parent-image-section-width",
        "min": 200,
        "max": 1600,
        "step": 50,
        "unit": "px",
        "label": "Custom Section Width",
        "default": 1000
      }

    ],
    "blocks": [
      {
        "name": "Double Column Image",
        "type": "images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_picker_1",
            "label": "Image One"
          },
          {
            "type": "range",
            "id": "image-one-width",
            "min": 200,
            "max": 1400,
            "step": 25,
            "unit": "px",
            "label": "Image One Width",
            "default": 500
          },
          {
            "type": "color",
            "id": "background_color_image_one",
            "label": "Image One Background Color",
            "default": "#eee"
          },
          {
            "type": "text",
            "id": "caption-image-one",
            "label": "Image One Caption"
          }, 
          {
            "type": "checkbox",
            "id": "show_left_caption",
            "default": false,
            "label": "Show Left Image Caption"
          },
          {
            "type": "checkbox",
            "id": "left_image_small",
            "default": false,
            "label": "Small Left Image"
          },
          {
            "type": "checkbox",
            "id": "show_col_gap",
            "default": false,
            "label": "Show Column Gap"
          },

          {
            "type": "image_picker",
            "id": "image_picker_2",
            "label": "Image Two"
          }, {
            "type": "color",
            "id": "background_color_image_two",
            "label": "Image Two Background Color",
            "default": "#eee"
          }, {
            "type": "text",
            "id": "caption-image-two",
            "label": "Image Two Caption"
          },
          {
            "type": "checkbox",
            "id": "right_image_small",
            "default": false,
            "label": "Small Right Image"
          },
          {
            "type": "checkbox",
            "id": "show_right_caption",
            "default": false,
            "label": "Show Right Image Caption"
          }


        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name": "Two Column Image Style 2"
      }


    ]
  }
{% endschema %}