{{ 'component-ninety-image-with-text.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }}.section-width-small {
        max-width: 600px;
        margin: 0 auto;
    }
    .section-{{ section.id }}.section-width-medium {
        max-width: 900px;
        margin: 0 auto;
    }
    .section-{{ section.id }}.section-width-full {
        max-width: 100%;
        margin: 0 auto;
    }
    .section-{{ section.id }}.section-width-custom {
        max-width: {{ section.settings.custom-section-width | append: "px" }};
        margin: 0 auto;
    }
    .col-gap-el-{{ section.id }} {
        column-gap: {{ section.settings.column-gap | append: "px" }};

    }
    .row-reverse-{{ section.id }} {
          flex-direction: row-reverse;
       }

  {% for block in section.blocks %}
    .space-container-{{ block.id }}{
            height: {{ block.settings.spacer-height }}px;
            padding: 0px;
    }
    .custom-heading-font-size-{{ block.id }} {
        font-size:{{ block.settings.heading-size }}px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        line-height: {{ block.settings.heading-line-height }} 
    }
    .custom-text-font-size-{{ block.id }} {
        font-size:{{ block.settings.text-size }}px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 400;
        line-height: {{ block.settings.text-line-height }} 
    }
    .custom-caption-font-size-{{ block.id }} {
        font-size:{{ block.settings.caption-size }}px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        line-height: {{ block.settings.caption-line-height }} 
    }

  {% endfor %}
{%- endstyle -%}

<section class="section-{{ section.id }} section-width-{{ section.settings.section-width }} ">
    <div class="flex-two-col-el col-gap-el-{{ section.id }} {% if section.settings.row_reverse %}row-reverse-{{ section.id }}{% endif %}">
        <div class="image-container-el">
          <div class="image-container-wrapper-el">
            <img class="img" src=" {{ section.settings.image | img_url: 'master' }} " alt="" height="" width="" loading="lazy">   
          </div>
        </div>
  
        <div class="text-container-el">
          <div class="text-container-wrapper-el">
        {% for block in section.blocks %} 
            {% case block.type %} 
                {% when "heading" %}
                    <h2 class="custom-heading-font-size-{{ block.id }}">{{ block.settings.heading }}</h2>
                {% when "text" %}
                    <p class="ps-text custom-text-font-size-{{ block.id }}"> {{ block.settings.text | replace: 'p>', 'span>' }}</p>
                {%- when 'spacer' -%}
                    <div class="space-container-{{ block.id }}">                           
                    </div>
                    
    
            {% endcase %} 
        {% endfor %}

          </div>
        </div>
      </div>


</section>

{% schema %}
{
  "name": "Ninety image with Text",
  "settings": [
    {
        "type": "select",
        "id": "section-width",
        "label": "Section width",
        "options": [
            {
            "value": "small",
            "label": "Small"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "full",
            "label": "Full"
            },
            {
            "value": "custom",
            "label": "Custom"
            }
        ],
        "default": "medium",
        "info":"Choose custom for changing custom width"
    },
    {  
        "type": "range",
        "id": "custom-section-width",
        "label": "Custom Section width",
        "min": 200,
        "max": 1900,
        "step": 50,
        "unit": "px",
        "default": 800
    },
    {
        "type": "range",
        "id": "column-gap",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Column Gap",
        "default": 120

      },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "checkbox",
        "id": "row_reverse",
        "label": "Row Reverse"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Headline",
          "label": "Headline"
        },
        {
        "type": "range",
        "id": "heading-size",
        "min": 4,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Heading Size",
        "default": 100
        },
        {
        "type": "range",
        "id": "heading-line-height",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "label": "Heading Line Height",
        "default": 1.6
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Text"
        },
        {
        "type": "range",
        "id": "caption-size",
        "min": 4,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Caption Size",
        "default": 14
        },
        {
        "type": "range",
        "id": "caption-line-height",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "label": "Caption Line Height",
        "default": 1.2
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Content"
        },
        {
        "type": "range",
        "id": "text-size",
        "min": 4,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Text Size",
        "default": 26
        },
        {
        "type": "range",
        "id": "text-line-height",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "label": "Text Line Height",
        "default": 1.2
        }
      ]
    },
    {
            "name": "spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer-height",
                    "min": 10,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "label": "Space height",
                    "default": 50

                }
            ]
    } 
  ],
  "presets": [
    {
      "name": "Ninety Image with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
