<link rel="stylesheet" href="{{ 'template-article.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="small-container px-2">
  <div class="title-section  mt-8">
    <h1 class="text-center fs-5">{{ article.title }}</h1>
    <div class="d-flex ">
      <p class="">Posted on: {{ article.published_at }} -
      </p>
      <p class="">Words by {{ article.author }}</p>
    </div>
    <p class="text-center">posted by integrity at wax,Luis and London Kels</p>
  </div>
  <div class="content-section">
    <p>{{ article.content }}</p>
  </div>
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}