<link rel="stylesheet" href="{{ 'template-article.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

{%- comment -%}
  <div class="small-container px-2">
  <div class="title-section  mt-8">
  <h1 class="text-center fs-5">{{ article.title }}</h1>
  <div class="d-flex ">
  <p class="">Posted on: {{ article.published_at }} -
  </p>
  <p class="">Words by {{ article.author }}</p>
  </div>
  <p class="text-center">posted by integrity at wax,Luis and London Kels</p>
  </div>
  <div class="content-section">
  <p>{{ article.content }}</p>
  </div>
  </div>
{%- endcomment -%}

{%- style -%}
  .border-none {
    border: none;
  }
  .border-left {
    border-left: 4px solid red;
    padding-left: 15px;

  }
  .border-top {
    border-top: 4px solid red;
    padding-top: 15px;
  }
  .border-right {
    border-right: 4px solid red;
    padding-right: 15px;
  }
  .border-bottom {
    border-bottom: 4px solid red;
    padding-bottom: 15px;
  }


  {% for block in section.blocks %}
    .space-container-{{ block.id }}{
      height: {{ block.settings.spacer-height }}px;
    }

    .text-{{ block.id }}-utilities {
      font-size: {{ block.settings.text_font_size }}px;
      width: {{ block.settings.text-block-width }}px;
      line-height: {{ block.settings.text-block-line-height }};
      margin: 0 auto;
    }

    .heading-{{ block.id }}-utilities {
      width: {{ block.settings.heading-block-width }}px;
      margin: 0 auto;
    }


  {% endfor %}


  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'spacer' -%}
              <div class="space-container-{{ block.id }}">
                <p></p>
              </div>

            {%- when 'heading' -%}
              <h2 class="rich-text__heading rte {{ block.settings.heading_size }} heading-{{ block.id }}-utilities" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'caption' -%}
              <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.caption | replace: 'p>', 'span>' }}
              </p>
            {%- when 'text' -%}
              <div class="rich-text__text rte {{ block.settings.text_border }}  {{ block.settings.content_alignment_text }} text-{{ block.id }}-utilities" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label != blank -%}
                  <a {% if block.settings.button_link == blank %}role="link"aria-disabled="true"{% else %} href="{{ block.settings.button_link }}" {% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a {% if block.settings.button_link_2 == blank %}role="link"aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}" {% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Single Column text",
    "settings": [
      {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.rich-text.settings.desktop_content_position.label",
        "info": "t:sections.rich-text.settings.desktop_content_position.info"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.rich-text.settings.content_alignment.label"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "default": true,
        "label": "t:sections.rich-text.settings.full_width.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "name": "spacer",
        "type": "spacer",
        "settings": [
          {
            "type": "range",
            "id": "spacer-height",
            "min": 10,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Space height",
            "default": 50

          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "heading",
            "default": "<p>Add Blog Headline</p>",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          }, {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }, {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          },
          {
            "type": "range",
            "id": "heading-block-width",
            "min": 300,
            "max": 1200,
            "step": 25,
            "unit": "px",
            "label": "Heading Section Width",
            "default": 600

          }
        ]
      },
      {
        "type": "caption",
        "name": "t:sections.rich-text.blocks.caption.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "caption",
            "default": "<p>Add a tagline</p>",
            "label": "t:sections.rich-text.blocks.caption.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
          }, {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
              }, {
                "value": "medium",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
              }, {
                "value": "large",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Write a blog, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.rich-text.blocks.text.settings.text.label"
          },
          {
            "type": "range",
            "id": "text_font_size",
            "min": 8,
            "max": 160,
            "step": 2,
            "unit": "px",
            "label": "Font Size",
            "default": 16

          },
          {
            "type": "range",
            "id": "text-block-width",
            "min": 300,
            "max": 1200,
            "step": 25,
            "unit": "px",
            "label": "Text Section Width",
            "default": 800

          },
          {
            "type": "range",
            "id": "text-block-line-height",
            "min": 0,
            "max": 5,
            "step": 0.1,
            "label": "Change Line Height",
            "default": 1.2

          }, {
            "type": "select",
            "id": "text_border",
            "options": [
              {
                "value": "border-none",
                "label": "None"
              },
              {
                "value": "border-left",
                "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
              },
              {
                "value": "border-top",
                "label": "Top"
              },
              {
                "value": "border-right",
                "label": "Right"
              }, {
                "value": "border-bottom",
                "label": "Bottom"
              }
            ],
            "default": "border-none",
            "label": "Border with text"
          }, {
            "type": "select",
            "id": "content_alignment_text",
            "options": [
              {
                "value": "left",
                "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
              }, {
                "value": "center",
                "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
              }, {
                "value": "right",
                "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
              }
            ],
            "default": "left",
            "label": "t:sections.rich-text.settings.content_alignment.label"
          }
        ]
      }, {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name": "Single Column Text"
      }
    ]
  }
{% endschema %}